* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
}

:root {
  --primary-color: #202020;
  --content-grid-background-color: #181818;
  --guide-section-background-color: #212121;
  --categories-button-color: #373737;
  --categories-button-hover-color: #ffffff;
  --text-color: #fff;
  --secondary-text-color: #aaa;
}

.container {
  /* background-color: #ff000040; */
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

/* This is the Header Section */

.header {
  background-color: var(--primary-color);
  width: 100%;
  height: 55px;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 50;

  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

/* This is the Main Section */

.main {
  margin-top: 55px; /* TODO:Change this accordingly to the height of the header when it becomes fixed */

  /* background-color: #0000ff40; */
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
}

/* This is the Side Navigation Guide Menu Section */

.guide-section {
  background-color: #fff00040;
}

/* This is the Main Content Section */

.main__content {
  /* background-color: #ff000040; */
  display: grid;
  grid-template-rows: auto 1fr;
}

/* This is the Content Header Section */

.main__content-header {
  background-color: #00aaff;
}

/* This is the Content Grid Section */

.content-grid {
  background-color: #ff0ddd40;
}
